In [ ]:
#!pip install jupyter_contrib_nbextensions

In [ ]:
#!pip install modin[ray] --user

In [1]:
import os
import ray

ray.init()
os.environ["MODIN_ENGINE"] = "ray"  # Modin will use Ray
import modin.pandas as pd

df = pd.read_csv(r"data/homelessness.csv")

2023-01-03 15:53:41,622	INFO services.py:1456 -- View the Ray dashboard at http://127.0.0.1:8265

#### info() method displays column datatypes

In [2]:
df.info()

<class 'modin.pandas.dataframe.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  --------------  --------------  -----
 0   Unnamed: 0      51 non-null     int64
 1   region          51 non-null     object
 2   state           51 non-null     object
 3   individuals     51 non-null     float64
 4   family_members  51 non-null     float64
 5   state_pop       51 non-null     int64
dtypes: int64(2), object(2), float64(2)
memory usage: 2.5 KB

UserWarning: Distributing <class 'int'> object. This may take some time.

#### shape attribute gives size of df as rows, columns

In [3]:
df.shape

(51, 6)

#### describe method gives summary stats such as min, max, count etc

In [4]:
df.describe()

       Unnamed: 0    individuals  family_members     state_pop
count   51.000000      51.000000       51.000000  5.100000e+01
mean    25.000000    7225.784314     3504.882353  6.405637e+06
std     14.866069   15991.025083     7805.411811  7.327258e+06
min      0.000000     434.000000       75.000000  5.776010e+05
25%     12.500000    1446.500000      592.000000  1.777414e+06
50%     25.000000    3082.000000     1482.000000  4.461153e+06
75%     37.500000    6781.500000     3196.000000  7.340946e+06
max     50.000000  109008.000000    52070.000000  3.946159e+07