In [7]:
import json
import cx_Oracle

%load_ext sql
%sql oracle+cx_oracle://arup:arup@192.168.29.71:1521/?service_name=testpdb1.localdomain

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%%sql result <<
select *from dept

 * oracle+cx_oracle://arup:***@192.168.29.71:1521/?service_name=testpdb1.localdomain
0 rows affected.
Returning data to local variable result

In [9]:
df = result.DataFrame()
df.head()

   deptno       dname       loc
0      10  ACCOUNTING  NEW YORK
1      20    RESEARCH    DALLAS
2      30       SALES   CHICAGO
3      40  OPERATIONS    BOSTON

In [ ]:
import subprocess
import os
import glob
# All files  ending with .csv
names = [os.path.basename(x) for x in glob.glob('datasets/*.csv')]
#print(names)
for with_ext in names:
    #os.path.splitext(with_ext)
    file_name = os.path.splitext(with_ext)[0]
    print(file_name)
    #Provide full path of sqlcl
    os.chdir(r"C:\sqlcl\sqlcl-21.4.1.17.1458\sqlcl\bin")

    #test.sql file should be placed in the bin directory of sqlcl or else provide the complete path
    subprocess.run(["sql",
                    "arup/arup@192.168.29.71:1521/testpdb1.localdomain",
                    "@",
                    r"test.sql", ""+file_name+"", ""+with_ext+"",
                    ";"])

In [1]:
import subprocess
import os
import glob
def upload_csv(v_path = 'datasets', v_file_name = '*.csv') :
    names = [os.path.basename(x) for x in glob.glob(v_path + '/'+ v_file_name)]
    directory = os.getcwd() + '\\' + v_path

    print(directory)
    for with_ext in names:
        #os.path.splitext(with_ext)
        file_name = os.path.splitext(with_ext)[0]
        print(file_name)
        #Provide full path of sqlcl
        os.chdir(r"C:\sqlcl\sqlcl-21.4.1.17.1458\sqlcl\bin")

        #test.sql file should be placed in the bin directory of sqlcl or else provide the complete path
        subprocess.run(["sql",
                        "arup/arup@192.168.29.71:1521/testpdb1.localdomain",
                        "@",
                        r"test.sql", ""+file_name+"", ""+directory+"\\"+with_ext+"",
                        ";"])
        print("Table created..."+ file_name)
        os.chdir(directory)
        print("Current directory is "+ os.getcwd())
    return

In [ ]:
upload_csv()

C:\Users\Atif\Documents\Python_complete_learnings\Mini_projects\Connection_to_oracle_and_csv_upload\datasets
covid_19_india
Table created...covid_19_india
Current directory is C:\Users\Atif\Documents\Python_complete_learnings\Mini_projects\Connection_to_oracle_and_csv_upload\datasets
match_scores_1991_2016