In [26]:
import pandas as pd
import matplotlib.pyplot as plt
# Read in the CSV as a DataFrame
netflix_df = pd.read_csv('datasets/netflix_data.csv')
print(netflix_df.count(axis = 1))
print(netflix_df.shape)
print(netflix_df.size)
netflix_df['type'].value_counts()
netflix_df.describe()
netflix_df.info()
help(pd.DataFrame.count)
pd.DateOffsettaFrame

0       10
1       11
2       11
3       11
4       11
        ..
7782    11
7783    11
7784     9
7785    10
7786    10
Length: 7787, dtype: int64
(7787, 11)
85657
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   duration      7787 non-null   int64
 9   description   7787 non-null   object
 10  genre         7787 non-null   object
dtypes: int64(2), object(9)
memory usage: 669.3+ KB
Help on function count in module pandas.core.frame:

count(self, axis=0, level=None, numeric_only=False)
    Count non-NA cells for each column or row.

    The values `None`, `NaN`, `NaT`, and optionally `numpy.inf` (depending
    on `pandas.options.mode.use_inf_as_na`) are considered NA.

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        If 0 or 'index' counts are generated for each column.
        If 1 or 'columns' counts are generated for each row.
    level : int or str, optional
        If the axis is a `MultiIndex` (hierarchical), count along a
        particular `level`, collapsing into a `DataFrame`.
        A `str` specifies the level name.
    numeric_only : bool, default False
        Include only `float`, `int` or `boolean` data.

    Returns
    -------
    Series or DataFrame
        For each column/row the number of non-NA/null entries.
        If `level` is specified returns a `DataFrame`.

    See Also
    --------
    Series.count: Number of non-NA elements in a Series.
    DataFrame.value_counts: Count unique combinations of columns.
    DataFrame.shape: Number of DataFrame rows and columns (including NA
        elements).
    DataFrame.isna: Boolean same-sized DataFrame showing places of NA
        elements.

    Examples
    --------
    Constructing DataFrame from a dictionary:

    >>> df = pd.DataFrame({"Person":
    ...                    ["John", "Myla", "Lewis", "John", "Myla"],
    ...                    "Age": [24., np.nan, 21., 33, 26],
    ...                    "Single": [False, True, True, True, False]})
    >>> df
       Person   Age  Single
    0    John  24.0   False
    1    Myla   NaN    True
    2   Lewis  21.0    True
    3    John  33.0    True
    4    Myla  26.0   False

    Notice the uncounted NA values:

    >>> df.count()
    Person    5
    Age       4
    Single    5
    dtype: int64

    Counts for each **row**:

    >>> df.count(axis='columns')
    0    3
    1    2
    2    3
    3    3
    4    3
    dtype: int64

    Counts for one level of a `MultiIndex`:

    >>> df.set_index(["Person", "Single"]).count(level="Person")
            Age
    Person
    John      2
    Lewis     1
    Myla      1