In [26]:
import pandas as pd
import matplotlib.pyplot as plt
# Read in the CSV as a DataFrame
netflix_df = pd.read_csv('datasets/netflix_data.csv')
print(netflix_df.count(axis = 1))
print(netflix_df.shape)
print(netflix_df.size)
netflix_df['type'].value_counts()
netflix_df.describe()
netflix_df.info()
help(pd.DataFrame.count)
pd.DateOffsettaFrame

0       10
1       11
2       11
3       11
4       11
        ..
7782    11
7783    11
7784     9
7785    10
7786    10
Length: 7787, dtype: int64
(7787, 11)
85657
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   duration      7787 non-null   int64
 9   description   7787 non-null   object
 10  genre         7787 non-null   object
dtypes: int64(2), object(9)
memory usage: 669.3+ KB
Help on function count in module pandas.core.frame:

count(self, axis=0, level=None, numeric_only=False)
    Count non-NA cells for each column or row.

    The values `None`, `NaN`, `NaT`, and optionally `numpy.inf` (depending
    on `pandas.options.mode.use_inf_as_na`) are considered NA.

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        If 0 or 'index' counts are generated for each column.
        If 1 or 'columns' counts are generated for each row.
    level : int or str, optional
        If the axis is a `MultiIndex` (hierarchical), count along a
        particular `level`, collapsing into a `DataFrame`.
        A `str` specifies the level name.
    numeric_only : bool, default False
        Include only `float`, `int` or `boolean` data.

    Returns
    -------
    Series or DataFrame
        For each column/row the number of non-NA/null entries.
        If `level` is specified returns a `DataFrame`.

    See Also
    --------
    Series.count: Number of non-NA elements in a Series.
    DataFrame.value_counts: Count unique combinations of columns.
    DataFrame.shape: Number of DataFrame rows and columns (including NA
        elements).
    DataFrame.isna: Boolean same-sized DataFrame showing places of NA
        elements.

    Examples
    --------
    Constructing DataFrame from a dictionary:

    >>> df = pd.DataFrame({"Person":
    ...                    ["John", "Myla", "Lewis", "John", "Myla"],
    ...                    "Age": [24., np.nan, 21., 33, 26],
    ...                    "Single": [False, True, True, True, False]})
    >>> df
       Person   Age  Single
    0    John  24.0   False
    1    Myla   NaN    True
    2   Lewis  21.0    True
    3    John  33.0    True
    4    Myla  26.0   False

    Notice the uncounted NA values:

    >>> df.count()
    Person    5
    Age       4
    Single    5
    dtype: int64

    Counts for each **row**:

    >>> df.count(axis='columns')
    0    3
    1    2
    2    3
    3    3
    4    3
    dtype: int64

    Counts for one level of a `MultiIndex`:

    >>> df.set_index(["Person", "Single"]).count(level="Person")
            Age
    Person
    John      2
    Lewis     1
    Myla      1

In [3]:
import cx_Oracle
username = 'arup'
password = 'arup'
dbname =   '192.168.29.71:1521/testpdb1.localdomain'
con = cx_Oracle.connect(username,password,dbname)
print(con.version)
cursor = con.cursor()
#cursor.execute('CREATE TABLE A1(c1 number, c2 number)')
statement1 = ('insert  into a1(c1, c2) values(1, trunc(dbms_random.value( 1,100000)))')
cursor.execute(statement1,)
con.commit()

19.3.0.0.0

In [6]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\atif\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython>=1.0 in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: prettytable<1 in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: jedi>=0.16 in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: pygments in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: decorator in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: colorama in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: backcall in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pickleshare in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\atif\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\atif\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\atif\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
%load_ext sql

In [ ]:
import cx_Oracle
username = 'arup'
password = 'arup'
#dbname =   '192.168.29.71:1521/testpdb1.localdomain'
dbname = 'testpdb1'
con = cx_Oracle.connect(username,password,dbname)
print(con.version)
cursor = con.cursor()

In [29]:
from sqlalchemy.engine import create_engine

DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = 'arup' #enter your username
PASSWORD = 'arup' #enter your password
HOST = '192.168.29.71' #enter the oracle db host url
PORT = 1521 # enter the oracle port number
SERVICE = 'testpdb1' # enter the oracle db service name
ENGINE_PATH_WIN_AUTH = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + ':' + str(PORT) + '/?service_name=' + SERVICE

engine = create_engine(ENGINE_PATH_WIN_AUTH)
%load_ext sql
%sql oracle://arup:arup@HOST:1521/SERVICE

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
(cx_Oracle.DatabaseError) ORA-12545: Connect failed because target host or object does not exist
(Background on this error at: http://sqlalche.me/e/14/4xp6)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [14]:
print("connecting with engine " + str(engine))

connecting with engine Engine(oracle+cx_oracle://arup:***@192.168.29.71:1521/?service_name=testpdb1.localdomain)

In [15]:
%%sql
select 1 from dual;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [19]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\atif\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython>=1.0 in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: jedi>=0.16 in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: pygments in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: colorama in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: decorator in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: backcall in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: traitlets>=4.2 in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pickleshare in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\atif\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\atif\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\atif\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)

In [ ]:
from sqlalchemy.engine import create_engine

DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = 'arup' #enter your username
PASSWORD = 'arup' #enter your password
HOST = '192.168.29.71:1521' #enter the oracle db host url
PORT = 1521 # enter the oracle port number
SERVICE = 'testpdb1.localdomain' # enter the oracle db service name
ENGINE_PATH_WIN_AUTH = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + ':' + str(PORT) + '/?service_name=' + SERVICE

#engine = create_engine(ENGINE_PATH_WIN_AUTH)
%reload_ext sql
%sql oracle://arup:arup@HOST/SERVICE

In [10]:
host = "192.168.29.71"

In [11]:
import sqlalchemy as sa
sa.create_engine('oracle://arup:arup@host/testpdb1.localdomain')

Engine(oracle://arup:***@host/testpdb1.localdomain)

In [13]:
%reload_ext sql

In [8]:
host = "192.168.29.71"

In [14]:
%sql oracle://arup:arup@host/testpdb1

(cx_Oracle.DatabaseError) ORA-12545: Connect failed because target host or object does not exist
(Background on this error at: http://sqlalche.me/e/14/4xp6)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
import cx_Oracle
username = 'arup'
password = 'arup'
dsnStr = cx_Oracle.makedsn("192.168.29.71", "1521", "testpdb1")
#dbname =   '192.168.29.71:1521/testpdb1.localdomain'
dbname = 'testpdb1'
#con = cx_Oracle.connect(username,password,dbname)
con = cx_Oracle.connect('arup/arup@testpdb1')
print(con.version)
cursor = con.cursor()

In [ ]:
dsnStr = cx_Oracle.makedsn("192.168.29.71", "1521", "testpdb1")

In [ ]:
print(con.version)

In [ ]:
print("hello")

In [15]:
import cx_Oracle
username = 'arup'
password = 'arup'
dbname =   'testpdb1'
dsn_tns = cx_Oracle.makedsn('192.168.29.71', '1521', service_name = 'testpdb1.localdomain') # if needed, place an 'r' before any parameter in order to address special characters such as '\'.
con = cx_Oracle.connect(user = "arup", password = "arup", dsn = dsn_tns, encoding="UTF-8")
print(con.version)
cursor = con.cursor()
#cursor.execute('CREATE TABLE A1(c1 number, c2 number)')
statement1 = ('insert  into a1(c1, c2) values(1, trunc(dbms_random.value( 1,100000)))')
cursor.execute(statement1,)
con.commit()

19.3.0.0.0

In [4]:
from sqlalchemy import create_engine
from sqlalchemy.engine import url

connect_url = url.URL.create(
    'oracle+cx_oracle',
    username='arup',
    password='arup',
    host='192.168.29.71',
    port='1521',
    query=dict(service_name='testpdb1.localdomain'))

engine = create_engine(connect_url)

In [5]:
print(engine)

Engine(oracle+cx_oracle://arup:***@192.168.29.71:1521?service_name=testpdb1.localdomain)

In [6]:
%load_ext sql

In [14]:
%sql oracle://arup:arup@192.168.29.71:1521/testpdb1.localdomain

(cx_Oracle.DatabaseError) ORA-12505: TNS:listener does not currently know of SID given in connect descriptor
(Background on this error at: http://sqlalche.me/e/14/4xp6)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [1]:
import sqlalchemy
user = 'arup'
pw = 'arup'
host = '192.168.29.71'
port='1521'
db = 'testpdb1.localdomain'

#engine = sqlalchemy.create_engine('oracle+cx_oracle://' + user + ':' + pw + '@' + host + ':' + port + '/' + db)
engine = sqlalchemy.create_engine('oracle+cx_oracle://' + user + ':' + pw + '@' + host + ':' + port + '/?service_name=' + db)
sqlalchemy_connection = engine.connect()

In [2]:
%load_ext sql

In [3]:
print(sqlalchemy_connection)

<sqlalchemy.engine.base.Connection object at 0x000001E36D0A7220>

In [ ]:
#%sql oracle://user + ':' + pw + '@' + host + ':' + port + '/?service_name=' + db

In [4]:
%sql sqlalchemy_connection

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
%% sql
select 1 from dual;

In [5]:
import sqlalchemy
user = 'arup'
pw = 'arup'
host = '192.168.29.71'
port='1521'
db = 'testpdb1.localdomain'

#engine = sqlalchemy.create_engine('oracle+cx_oracle://' + user + ':' + pw + '@' + host + ':' + port + '/' + db)
engine = sqlalchemy.create_engine('oracle+cx_oracle://' + user + ':' + pw + '@' + host + ':' + port + '/?service_name=' + db)
sqlalchemy_connection = engine.connect()

In [2]:
print(engine)

Engine(oracle+cx_oracle://arup:***@192.168.29.71:1521/?service_name=testpdb1.localdomain)

In [15]:
#sqlalchemy_connection = engine.connect()

In [3]:
print(sqlalchemy_connection)

<sqlalchemy.engine.base.Connection object at 0x0000026252B37F10>

In [23]:
%env DATABASE_URL= oracle://arup@192.168.29.71:1521/testpdb1

env: DATABASE_URL=oracle://arup@192.168.29.71:1521/testpdb1

In [4]:
import pandas as pd
query = "select 1 from dual"
df = pd.read_sql_query(query, sqlalchemy_connection)
print(df.head())

   1
0  1

In [5]:
%load_ext sql

In [23]:
user = 'arup'
pw = 'arup'
host = '192.168.29.71:1521'
port='1521'
db = 'testpdb1'
%sql oracle+cx_oracle://user:pw@host/db

(cx_Oracle.DatabaseError) ORA-12545: Connect failed because target host or object does not exist
(Background on this error at: http://sqlalche.me/e/14/4xp6)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [6]:
%%sql

select deptno from dept;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [8]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\atif\anaconda3\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\atif\anaconda3\lib\site-packages (from sqlalchemy) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\atif\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: six in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable<1 in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: sqlparse in c:\users\atif\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: traitlets>=4.2 in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: colorama in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: setuptools>=18.5 in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: jedi>=0.16 in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: pygments in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: backcall in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\atif\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\atif\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\atif\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\atif\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)

In [1]:
import json
import cx_Oracle

%load_ext sql

In [8]:
username = 'arup'
password = 'arup'
dbhost = '192.168.29.71:1521'

#%sql oracle+cx_oracle://username:password@dbhost/?service_name=testpdb1.localdomain
%sql oracle+cx_oracle://arup:arup@192.168.29.71:1521/?service_name=testpdb1.localdomain
#%sql sqlalchemy_connection

In [9]:
%%sql result <<
select *from dept

 * oracle+cx_oracle://arup:***@192.168.29.71:1521/?service_name=testpdb1.localdomain
0 rows affected.
Returning data to local variable result

In [10]:
df = result.DataFrame()
df.head()

   deptno       dname       loc
0      10  ACCOUNTING  NEW YORK
1      20    RESEARCH    DALLAS
2      30       SALES   CHICAGO
3      40  OPERATIONS    BOSTON

In [12]:
%sql select 1 from dual

 * oracle+cx_oracle://arup:***@192.168.29.71:1521/?service_name=testpdb1.localdomain
0 rows affected.

[(1,)]